<section class="container d-flex flex-column justify-content-center text-center">

    <div class="conteudo m-5">
        <h1 class="text-white w-100">
            Comece a programar do zero com <br />
            conteúdos <span class="gradient-text-1">gratuitos</span> e <span class="gradient-text-2">práticos!</span>
        </h1>
        <p class="text-white">
            Acesse agora nossos cursos e comece a aprender as tecnologias <br />
            mais usadas no mercado, totalmente sem custo algum!
        </p>
        <a asp-action="Index" asp-controller="Curso" 
        style="background-color: white; color: #7c3aed; padding: 12px 25px; border-radius: 8px; text-decoration: none; font-weight: bold; transition: background 0.3s ease;">
        QUERO ESTUDAR DE GRAÇA
        </a>
        <br />
        <div class="etiqueta rounded">Sua jornada na programação começa aqui.</div>
    </div>

    <!-- CONTEÚDO QUE OCUPA 75% DA TELA -->
    <section class="conteudo-principal rounded-2 m-5" style="background-color: #121214">
        <div class="tag">Para quem é?</div>
        <h1>Independente do seu nível o AionClass é para você</h1>

        <div class="cards">
            <div class="card text-white text-start" style="background-color: #121214">
                <h2>Para aprender do zero</h2>
                <p>Fundamentos da programação web HTML, CSS, Git, banco de dados, back-end e front-end.</p>
            </div>
            <div class="card text-white text-start" style="background-color: #121214">
                <h2>Para se especializar</h2>
                <p>Trilhas de React, React Native e Node.js com ferramentas e tecnologias alinhadas com o mercado.</p>
            </div>
            <div class="card text-white text-start" style="background-color: #121214">
                <h2>Para se manter atualizado</h2>
                <p>Masterclass exclusivas, encontros por voz com convidados e newsletter com novidades do mercado.</p>
            </div>
        </div>

        <div class="tag tag-bottom rounded">Também é para quem...</div>

        <div class="benefits">
            <div class="benefit">
                <span class="check">✔</span>
                <p>Quer fazer transição de carreira para a programação</p>
            </div>
            <div class="benefit">
                <span class="check">✔</span>
                <p>Quer ganhar melhores salários ou fazer um upgrade de carreira</p>
            </div>
            <div class="benefit">
                <span class="check">✔</span>
                <p>Quer conquistar uma vaga internacional</p>
            </div>
            <div class="benefit">
                <span class="check">✔</span>
                <p>Quer trabalhar de casa ou remoto</p>
            </div>
        </div>
    </section>

    <section class="conteudo-principal rounded-2 div-gradient m-5">
        <div class="w-100 h-100 d-flex justify-content-between align-items-center">
            <div>
                <p class="text-white fw-bolder m-1 fs-3">
                    Transforme sua carreira em <br />
                    programação com AionClass
                </p>
            </div>
            <div>
                <img src="/img/aion.png" style="height:120px; width:120px"/>
            </div>
            <div class="bg-white rounded-1 text-center m-1 pt-3 pb-3">
                <a href="#" class="gradient-text-1 p-5 fs-5 fw-bold">PLANOS E CONDIÇÕES</a>
            </div>
        </div>
    </section>


</section>
